
.bona-nova-sc-regular {
    font-family: "Bona Nova SC", serif;
    font-weight: 400;
    font-style: normal;
}
.normal_link{
    text-decoration: none;
    color:#CACC90;
}
.link{
    color:#251605;
    text-decoration: none;
    font-weight: 700;
}
  
.articles{
    display:flex;
}
.bona-nova-sc-bold {
    font-family: "Bona Nova SC", serif;
    font-weight: 700;
    font-style: normal;
}
  
.bona-nova-sc-regular-italic {
    font-family: "Bona Nova SC", serif;
    font-weight: 400;
    font-style: italic;
}


body{
    background-color: #75704E;
}


.barra{
    background-color: #CACC90;
    border: 2px solid black;
    border-radius: 50px;
    padding: 5px;
    ul {
        list-style-type: none;
        margin:0;
        padding:0;
        text-align: center;
        li{
            display: inline;
            padding:35px;
        }
    }
}

.titulos{
    h1{
        font-family: "Bona Nova SC", serif;
        font-weight: 700;
        font-style: normal;
        padding: 30px;
        
        text-align: left; 
        color: #CACC90;

    }
    h3{
        font-style: italic;
        color:#CACC90;
        text-align: left;
        padding-left: 30px;
        padding-bottom: 20px;
    }
    background-color: #251605;
    border: 2px solid black;
    border-radius: 5px;
    border-bottom:2px;
    border-top:2px;
    
}
.cuerpo{
    color: #251605;
    background-color: #CACC90;
    border: 2px solid black;
    border-radius: 5px;
    padding: 30px;
    text-align:justify;
}
article{
    padding: 10px;
    background-color: #CACC90;
    border: 2px solid black;
    border-radius: 5px;
    margin-top:10px;
    margin-bottom: 10px;
    hr{
        border: 1px solid black;
    }
    h1{
        color: #251605;
        font-weight: 700;
        font-size: 20px;
        text-align:center;
        padding: 10px;

    }
    p{
        color: #251605;
    }
}

footer{
    background-color: #251605 ;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    width: 100%;
    p{
        color: #CACC90;
    }
    /*text-align: center;
    width: 100%;
    background-color: #251605;
    color:#CACC90;
    padding: 0px;
    /*position: fixed;
    font-size: 16px;
    width: 600px;
    height: 50px;
    border: 2px solid black;
    padding: 5px;
    font-style: italic;
    color:#CACC90;*/
}
